@media screen and (max-width:76opx){
    #main-nav{
        position: relative;
        text-align: center;
        min-height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content {
        flex-direction: column;
        gap: unset;
        padding: 0;
    }

    main {
        padding: 1em;
    }

    main, aside {
        width: 100%;
    }
}

